<h1>Listing ja_blocked_phrases</h1>

<table>
  <tr>
    <th>Phrase</th>
    <th>Ja blocked root</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @ja_blocked_phrases.each do |ja_blocked_phrase| %>
  <tr>
    <td><%= ja_blocked_phrase.phrase %></td>
    <td><%= ja_blocked_phrase.ja_blocked_root %></td>
    <td><%= link_to 'Show', ja_blocked_phrase %></td>
    <td><%= link_to 'Edit', edit_ja_blocked_phrase_path(ja_blocked_phrase) %></td>
    <td><%= link_to 'Destroy', ja_blocked_phrase, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Ja blocked phrase', new_ja_blocked_phrase_path %>
